.flor {
  position: relative;
  width: 100px;
  height: 100px;
}

.petala {
  position: absolute;
  width: 40px;
  height: 70px;
  background-color: pink;
  border-radius: 50% 50% 0 0;
}

.petala1 {
  left: 30px;
  top: 0;
  transform: rotate(0deg);
}

.petala2 {
  left: 60px;
  top: 15px;
  transform: rotate(45deg);
}

.petala3 {
  left: 15px;
  top: 15px;
  transform: rotate(-45deg);
}

.petala4 {
    left: 0px;
    top: 30px;
    transform: rotate(-90deg);
}

.caule {
  position: absolute;
  width: 10px;
  height: 50px;
  background-color: green;
  left: 45px;
  top: 70px;
}

.centro {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 50%;
  left: 35px;
  top: 35px;
}